<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skylink</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/jpg" href="static/images/skylink_logo.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<!-- Header START -->
<header class="navbar-light header-sticky">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo START -->
            <img class="navbar-brand-item" src="#" alt="Skylink">
            <!-- Logo END -->
            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto mx-3 me-xl-0 p-0 p-sm-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
            </button>

            <!-- Main navbar START -->
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <!-- Nav traveler menu START -->
                <ul class="navbar-nav navbar-nav-scroll me-auto">
                    <!-- Nav item 1 Demos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle rounded px-3 py-3 py-xl-0" href="#" id="categoryMenu"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-suitcase-rolling"></i> Travelers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="categoryMenu">
                            <!-- Flights -->
                            <li class="mb-1">
                                <a href="index-flight.html"
                                   class="dropdown-item bg-light-hover d-flex align-items-center rounded p-2 active">
                                    <!-- Icon -->
                                    <div class="icon-md bg-primary bg-opacity-10 rounded text-primary flex-shrink-0"><i
                                            class="fa-solid fa-plane"></i></div>
                                    <div class="ms-2">
                                        <h6 class="mb-0">Flights</h6>
                                        <p class="small mb-0 text-body">Small description here</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Nav traveler menu END -->

                <!-- Nav main menu START -->
                <ul class="navbar-nav navbar-nav-scroll me-auto">
                    <!-- Nav item Listing -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Listings</a>
                        <ul class="dropdown-menu" aria-labelledby="listingMenu">
                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Flight</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="index-flight.html">Flight Home</a></li>
                                    <li><a class="dropdown-item" href="flight-list.html">Flight List</a></li>
                                    <li><a class="dropdown-item" href="flight-detail.html">Flight Detail</a></li>
                                    <li><a class="dropdown-item" href="flight-booking.html">Flight Booking</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Directory</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="index-directory.html">Directory Home</a></li>
                                    <li><a class="dropdown-item" href="directory-detail.html">Directory Detail</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Add Listing</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="join-us.html">Join us</a></li>
                                    <li><a class="dropdown-item" href="add-listing.html">Add Listing</a></li>
                                    <li><a class="dropdown-item" href="add-listing-minimal.html">Add Listing Minimal</a>
                                    </li>
                                    <li><a class="dropdown-item" href="listing-added.html">Listing Added</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="booking-confirm.html">Booking Confirmed</a></li>
                            <li><a class="dropdown-item" href="compare-listing.html">Compare Listing</a></li>
                            <li><a class="dropdown-item" href="offer-detail.html">Offer Detail</a></li>
                        </ul>
                    </li>

                    <!-- Nav item Pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">

                            <li><a class="dropdown-item" href="about.html">About</a></li>
                            <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                            <li><a class="dropdown-item" href="contact-2.html">Contact 2</a></li>
                            <li><a class="dropdown-item" href="team.html">Our Team</a></li>

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Authentication</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>
                                    <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                    <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a></li>
                                    <li><a class="dropdown-item" href="two-factor-auth.html">Two factor
                                        authentication</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Blog</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                    <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Help</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="help-center.html">Help Center</a></li>
                                    <li><a class="dropdown-item" href="help-detail.html">Help Detail</a></li>
                                    <li><a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a class="dropdown-item" href="terms-of-service.html">Terms of Service</a></li>
                                </ul>
                            </li>

                            <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                            <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
                            <li><a class="dropdown-item" href="error.html">Error 404</a></li>
                            <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>

                    <!-- Nav item Account -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Accounts</a>
                        <ul class="dropdown-menu" aria-labelledby="accounntMenu">
                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">User Profile</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="account-profile.html">My Profile</a></li>
                                    <li><a class="dropdown-item" href="account-bookings.html">My Bookings</a></li>
                                    <li><a class="dropdown-item" href="account-travelers.html">Travelers</a></li>
                                    <li><a class="dropdown-item" href="account-payment-details.html">Payment Details</a>
                                    </li>
                                    <li><a class="dropdown-item" href="account-wishlist.html">Wishlist</a></li>
                                    <li><a class="dropdown-item" href="account-settings.html">Settings</a></li>
                                    <li><a class="dropdown-item" href="account-delete.html">Delete Profile</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Agent Dashboard</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="agent-dashboard.html">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="agent-listings.html">Listings</a></li>
                                    <li><a class="dropdown-item" href="agent-bookings.html">Bookings</a></li>
                                    <li><a class="dropdown-item" href="agent-activities.html">Activities</a></li>
                                    <li><a class="dropdown-item" href="agent-earnings.html">Earnings</a></li>
                                    <li><a class="dropdown-item" href="agent-reviews.html">Reviews</a></li>
                                    <li><a class="dropdown-item" href="agent-settings.html">Settings</a></li>
                                </ul>
                            </li>

                            <li><a class="dropdown-item" href="admin-dashboard.html">Master Admin</a></li>
                        </ul>
                    </li>

                    <!-- Nav item link-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu min-w-auto" data-bs-popper="none">
                            <li>
                                <a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
                                    <i class="text-warning fa-fw bi bi-life-preserver me-2"></i>Support
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="docs/index.html" target="_blank">
                                    <i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://booking.webestica.com/rtl/" target="_blank">
                                    <i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://themes.getbootstrap.com/store/webestica/"
                                   target="_blank">
                                    <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Booking!
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="docs/alerts.html" target="_blank">
                                    <i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Nav main menu END -->
            </div>
            <!-- Main navbar END -->

            <!-- Navbar right side START -->
            <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                <!-- Search -->
                <li class="nav-item dropdown nav-search me-2">
                    <a class="nav-link mb-0 py-0" role="button" href="#" id="navSearch" data-bs-toggle="dropdown"
                       aria-expanded="false" data-bs-auto-close="outside" data-bs-display="static">
                        <i class="bi bi-search fs-5"> </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
                        <form class="input-group">
                            <input class="form-control border-primary" type="search" placeholder="Search..."
                                   aria-label="Search">
                            <button class="btn btn-primary m-0" type="submit">Search</button>
                        </form>
                    </div>
                </li>
                <!-- Sign In button -->
                <li class="nav-item ms-2 d-none d-sm-block">
                    <a href="#" class="btn btn-sm btn-primary-soft mb-0"><i
                            class="fa-solid fa-right-to-bracket me-2"></i>Sign Up</a>
                </li>
            </ul>
            <!-- Navbar right side END -->

        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main Banner START -->
    <section class="py-0">
        <div class="container">
            <!-- Background image -->
            <div class="rounded-3 p-3 p-sm-5"
                 style="background-image: url(static/images/background.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                <!-- Banner title -->
                <div class="row">
                    <div class="col-md-10 mx-auto text-center">
                        <h1 class="text-dark display-3 pt-sm-5 my-5">Ready to take off?</h1>
                    </div>
                </div>

                <!-- Booking from START -->
                <form class="bg-mode position-relative px-3 px-sm-4 pt-4 mb-4 mb-sm-0">
                    <div class="row g-4 position-relative">

                        <!-- Nav tabs START -->
                        <div class="col-lg-6">
                            <ul class="nav nav-pills nav-pills-dark" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-start rounded-0 mb-0 active" id="pills-one-way-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-one-way" type="button"
                                            role="tab" aria-selected="true">One Way
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-end rounded-0 mb-0" id="pills-round-trip-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-round-trip" type="button"
                                            role="tab" aria-selected="false">Round Trip
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav tabs END -->

                        <!-- Ticket class -->
                        <div class="col-lg-3 ms-auto">
                            <div class="form-control-bg-light form-fs-md">
                                <select class="form-select">
                                    <option value="">Select Class</option>
                                    <option>Economy</option>
                                    <option>Premium Economy</option>
                                    <option>Business</option>
                                    <option>First Class</option>
                                </select>
                            </div>
                        </div>

                        <!-- Ticket Travelers -->
                        <div class="col-lg-3 ms-auto">
                            <div class="form-control-bg-light form-fs-md">
                                <select class="form-select">
                                    <option value="">Select Travelers</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>

                        <!-- Tab content START -->
                        <div class="tab-content mt-4" id="pills-tabContent">
                            <!-- One way tab START -->
                            <div class="tab-pane fade show active" id="pills-one-way" role="tabpanel"
                                 aria-labelledby="pills-one-way-tab">
                                <div class="row g-4">
                                    <!-- Leaving From -->
                                    <div class="col-md-6 col-lg-4 position-relative">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <!-- Input field -->
                                            <label class="mb-1"><i class="bi bi-geo-alt me-2"></i>From</label>
                                            <select class="form-select" data-search-enabled="true">
                                                <option value="">Select location</option>
                                                <option>San Jacinto, USA</option>
                                                <option>North Dakota, Canada</option>
                                                <option>West Virginia, Paris</option>
                                            </select>
                                        </div>

                                        <!-- Auto fill button -->
                                        <div class="btn-flip-icon mt-3 mt-md-0">
                                            <button class="btn btn-white shadow btn-round mb-0"><i
                                                    class="fa-solid fa-right-left"></i></button>
                                        </div>
                                    </div>

                                    <!-- Going To -->
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <!-- Input field -->
                                            <label class="mb-1"><i class="bi bi-send me-2"></i>To</label>
                                            <select class="form-select" data-search-enabled="true">
                                                <option value="">Select location</option>
                                                <option>San Jacinto, USA</option>
                                                <option>North Dakota, Canada</option>
                                                <option>West Virginia, Paris</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Departure -->
                                    <div class="col-lg-4">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <label class="mb-1"><i class="bi bi-calendar me-2"></i>Departure</label>
                                            <input type="text" class="form-control" data-date-format="d M Y"
                                                   placeholder="Select date">
                                        </div>
                                    </div>

                                    <div class="col-12 text-end pt-0">
                                        <a class="btn btn-primary mb-n4" href="flight-list.html">Find ticket
                                            <i class="bi bi-arrow-right ps-3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- One way tab END -->

                            <!-- Round way tab END -->
                            <div class="tab-pane fade" id="pills-round-trip" role="tabpanel"
                                 aria-labelledby="pills-round-trip-tab">
                                <div class="row g-4">

                                    <!-- Leaving From -->
                                    <div class="col-md-6 col-xl-3 position-relative">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <!-- Input field -->
                                            <label class="mb-1"><i class="bi bi-geo-alt me-2"></i>From</label>
                                            <select class="form-select js-choice" data-search-enabled="true">
                                                <option value="">Select location</option>
                                                <option>San Jacinto, USA</option>
                                                <option>North Dakota, Canada</option>
                                                <option>West Virginia, Paris</option>
                                            </select>
                                        </div>

                                        <!-- Auto fill button -->
                                        <div class="btn-flip-icon mt-3 mt-md-0">
                                            <button class="btn btn-white shadow btn-round mb-0"><i
                                                    class="fa-solid fa-right-left"></i></button>
                                        </div>
                                    </div>

                                    <!-- Going To -->
                                    <div class="col-md-6 col-xl-3">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <!-- Input field -->
                                            <label class="mb-1"><i class="bi bi-send me-2"></i>To</label>
                                            <select class="form-select" data-search-enabled="true">
                                                <option value="">Select location</option>
                                                <option>San Jacinto, USA</option>
                                                <option>North Dakota, Canada</option>
                                                <option>West Virginia, Paris</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Departure -->
                                    <div class="col-md-6 col-xl-3">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <label class="mb-1"><i class="bi bi-calendar me-2"></i>Departure</label>
                                            <input type="text" class="form-control" data-date-format="d M Y"
                                                   placeholder="Select date">
                                        </div>
                                    </div>

                                    <!-- Return -->
                                    <div class="col-md-6 col-xl-3">
                                        <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                                            <label class="mb-1"><i class="bi bi-calendar me-2"></i>Return</label>
                                            <input type="text" class="form-control" data-date-format="d M Y"
                                                   placeholder="Select date">
                                        </div>
                                    </div>

                                    <div class="col-12 text-end pt-0">
                                        <a class="btn btn-primary mb-n4" href="#">Find ticket <i
                                                class="bi bi-arrow-right ps-3"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Round way tab END -->
                        </div>
                        <!-- Tab content END -->
                    </div>
                </form>
                <!-- Booking from END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Main Banner END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer>
    <div class="container">
        <div class="bg-dark rounded-top py-5 p-sm-5 mx-5">
            <div class="row g-4 align-items-center text-center text-lg-start">
                <!-- Copyright -->
                <div class="col-lg-4">
                    <ul class="nav list-inline text-primary-hover justify-content-center justify-content-lg-start mb-0">
                        <li class="list-inline-item"><a class="nav-link text-body-secondary" href="#">About</a></li>
                        <li class="list-inline-item"><a class="nav-link text-body-secondary" href="#">Policy</a></li>
                        <li class="list-inline-item"><a class="nav-link text-body-secondary pe-0" href="#">Terms &
                            Condition</a></li>
                    </ul>
                </div>
                <!-- Logo -->
                <div class="col-lg-4 text-center">
                    <!-- Logo -->
                    <a class="me-0" href="index.html">
                        <img class="h-60px" src="assets/images/logo-light.svg" alt="Skylink">
                    </a>
                    <div class="text-body-secondary text-primary-hover mt-3"> Copyrights ©2024 Booking. Build by <a
                            href="https://www.webestica.com/" class="text-body-secondary">Webestica</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>